.header{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: #2d3436;
    z-index: 100;
    top: 100;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75); 
}

.searchButton{
    border: hidden;
}

.header__left {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 33px;
}

.logo {
    height: 40px;
    /* display: flex;
    align-items: center;
    margin-left: 10px;
    border-radius: 33px; */
}

.header__input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header__center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header__option > .MuiSvgIcon-root{
    color: #d63031;
}

.header__option:hover > .MuiSvgIcon-root {
    color: #2d3436;
}

/* .header__option--active > .MuiSvgIcon-root {
    color: #2e81f4;
} */

/* .header__option--active {
    border-bottom: 4px solid #2e81f4;
} */

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header__option:hover {
    background-color: #d63031;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__info > h4 {
    margin-left: 10px;
    /* color:#d63031; */
}

.header__right {
    display: flex;
    background-color: #d63031;
    padding: 2.5px;
    border-radius: 33px;
}